<div class="container">
  <nav>
    <ul>
      <li>Home</li>
      <li>Taco Menu</li>
      <li>Draft List</li>
      <li>Hours</li>
      <li>Directions</li>
      <li>Contact</li>
    </ul>
  </nav>
  <div>
    <section class="yellowBorder">
      section 的 margin-left样式确保了有足够的空间容纳nav元素
    </section>
    <section class="yellowBorder section2">
      此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，
      此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，
      此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，
      此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，
      此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，
      此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，
      此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，
      此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，
      此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，
      此处省略一亿个字，此处省略一亿个字，此处省略一亿个字，此处省略一亿个字
    </section>
    <section class="yellowBorder">
      注意观察当你调整浏览器窗口时发生了什么，效果很赞！
    </section>
  </div>
</div>
